<div class="mastfoot">
  <div class="inner">
    <ul>
        <li>Get in touch with us: </li>
        <li><a href="https://www.facebook.com/induxid/"><i class="fa fa-facebook"></i> induxid</a></li>
        <li><a href="https://twitter.com/induxid"><i class="fa fa-twitter"></i> @induxid</a></li>
        <li><a href="https://www.instagram.com/induxid/"><i class="fa fa-instagram"></i> induxid</a></li>
        <li><a href="mailto:hi@indux.id">hi@indux.id</a></li>
    </ul>
    <!-- <p>
        Made by love in <a href="">Malang City</a> <i class="fa fa-heart"></i> and much of ☕️
    </p> -->
  </div>
</div>
