@charset "utf-8";
@import "cover";
@import "fonts";
@import url(http://webfonts-plus.herokuapp.com/src?family=Circular);

* {
    font-family: "Circular", sans-serif;
    font-weight: 400 !important;
    text-shadow: none;
    letter-spacing: 1px;
}

a {
    &:hover {
        cursor: pointer !important;
    }
}

.site-wrapper {
    background-image: url(../img/background.jpg);
    background-size: cover;
    .site-wrapper-inner {
        // background-color: rgba(84, 95, 171, 0.8);
        background: linear-gradient( 
            45deg,
            rgba(0, 0, 255, 0.7),
            rgba(255, 0, 0, 0.7) 
          ), 
          url(../img/cover-bg.jpg);

    }
}

.masthead {
    .inner {
        text-align: center;
        h3.masthead-brand {
            // margin: 0 auto;
            display: block;
            width: 100%;
            // text-align: center;
            img {
                width: 100px;
                height: auto;
            }
        }
        ul.nav {
            li {
                a {
                    font-size: 13px;
                }
                &.active,
                &:hover {
                    a {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.cover {
    h1 {
        font-weight: 500 !important;
        letter-spacing: 10px;
    }
    a.btn {
        background: none;
        border: 1px solid white;
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        &:hover {
            background: white;
            color: rgba(84, 95, 171, 1.0);
        }
    }
    p.lead {
        font-size: 72px;
        font-weight: 400 !important;
        line-height: 72px;
        strong {
            font-weight: 800 !important;
        }

    }
}

.mastfoot {
    font-size: 12px;
    i.fa-heart {
        color: red;
    }
    ul {
        padding: 0px;
        margin: 0px;
        li {
            display: inline;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 14px;
            a {
                font-weight: 400 !important;
            }
        }
        margin-bottom: 20px;
    }
}
